* {
	padding:0px;
	margin:0px;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*:focus,
*:active {
	outline: 0 !important;
	text-decoration: none !important;
}

.main-nav {
	padding-top: 10px;
	
}

.intro {
	margin: 0 auto;

}


.navmenu {
	padding-left: 425px;
	padding-right: 425px;
	text-align: center;
	width: 100%;
	
	
}
.navmenu ul li {
	list-style: none;
	display: inline-block;

}

.navmenu ul li a {
	display: block;
	text-align: left;
	font-size: 14px;
	color: black;
	padding: 0px 30px 40px 30px;
	font-family:  OpenSans;
	letter-spacing: 1px;

}


/*megamenu css*/
.navmenu ul li .megamenu {
	background:white;
	position: absolute;
	display: none;
	padding-top:20px;
	
}
.navmenu ul li:hover ul.megamenu {
	display: block;	
}

.megamenu li a {
	font-size: 16px;
	font-family: OpenSans;
	color: black;
	padding: 20px 10px 10px 60px;
}
.content {
	padding-right:120px;
	padding-left: 120px;
}

.content h1 {
	font-family: OpenSans;
	font-weight: bold;
	font-size: 30px;
	margin-top:0px;
	padding-top: 15px;

}

.content h1 a {
	color: black;
	text-decoration: none;
	
}


/*
*MAIN
*/

.contain {
	padding: 0 145px;
	margin: 0 30px;
 	
}
.items {
	display: flex;
	flex-wrap: wrap;
}
.item-container {
	margin-right: 10px;
	margin-bottom: 80px;
	position: relative;
}
.over-img {
	display: block;
	width: auto;
	height: auto;
}

.overlay-img {
	position: absolute;
	bottom: 80px;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 0;
	width: 400px;
	transition: .5s ease;
	background-color: white;
}
.item-container:hover .overlay-img {
	height: 15%;
	
	background: rgba(255, 255, 255, 0.6);
}

.over-text {
	color: black;
	position: absolute;
	font-size: 15px;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

}
.item-container p {
	padding-top: 10px;
	text-align: center;
}






/*.contain .img {
	padding-bottom: 60px;
}

.contain h1 {
	color: black;
	font-size: 80px;
}

.main-img {
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
}

.text-area {
	display: flex;
	justify-content: space-around;

}
.pictureContainer {
	width: 330px;
	height: 495px;
	overflow: hidden;
	background-image: url('../img/img7.jpg');
}
.pictureContainer img {
	display:block;
	width: 100%;
	transform: translate(0);
	transition: transform .3s ease-in-out;
}
.pictureContainer:hover img {
	transform: translateY(-100%);
}
*/
footer {
	width: 100%;
}

.foot-er {
	background-color: honeydew;
	height: 234px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-content: center;
	
}

.right-foot, .left-foot {
	padding: 105px 60px 20px;
}

.foot-er .right-foot a {
	color: black;
	font-family: OpenSans;
	letter-spacing: 1px;
	padding-right: 20px;
}
.right-foot .bottom-nav a {
	font-size: 11px;

}
.right-foot .top-nav {
	margin-bottom: 35px;
}

#newsletter-subscription {
	color: black;
}

.left-foot input {
	background-color:transparent;
	border: none;
	padding-right: 80px;
}

.left-foot .subscribe1 {
	border-bottom: 1px solid black;
}

.left-foot .nav-botom a {
	color: black;
	font-size: 15px;
	padding-right: 15px;

}
.nav-botom {
	margin-top: 50px;
}
.left-foot .nav-botom a:hover {
	color: rgb(0, 179, 119);
}
.nav-botom p {
	display: inline-block;
	color: black;
	font-family:  OpenSans; 
	font-size: 12px;
	margin-left: 40px;
}
.left-foot form>a {
	color: black;
}

/*
*FONTS 
*/
@font-face {
	font-family: OpenSans;
	src:url('../fonts/OpenSans-Regular.ttf');
}
/*
*MEDIA QUERIES 
*/

@media (max-width: 768px) {

	

	.navmenu ul li {
		padding-left: 0px;

	}
	.content h1 {
		padding-top: 0px;
		padding-left: 5px;
	}
	.navmenu ul.main-nav > li {
		padding: 20px;
	}
	.content {
	padding-left:15px;
	padding-bottom: 10px;
	}
	.navmenu {
		left: 0;
		transform: translateX(0);
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 0px;
			}
	.navmenu ul li a {
		padding: 15px;	
	}
	

	/*
	*main
	*/
		
	
	.item-container {
		margin-right: 0px;
	}
	
	.right-foot {
		padding: 20px;
	}
	.left-foot  {
		padding-top: 0px;
	}
	.nav-botom {
		margin-top: 15px;
	}
	.foot-er .right-foot a {
		font-size: 1.23rem;
	}
	.right-foot .top-nav {
		margin-bottom: 15px;
	}
	
	.foot-er .bottom-nav {
		margin-bottom:20px; 
		text-align: center;
		
	}
}
@media (max-width:667px) {

	.main-nav {
		position: fixed;
		top: 0;
		right: 0;
		width: 185px;
		transform: translateX(185px);
		height: 100%;
		z-index: 9999;
		background: #000;
		list-style: none;
		padding: 0;
		transition: transform .5s;
	}
	.main-nav.open {
		transform:translateX(0);
	}
	.main-nav #toggler {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		width: 30px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border: none;
	}
	.main-nav #toggler span {
		display: block;
		width: 20px;
		height: 2px;
		background: #000;
		margin-bottom: 5px;
		transform: translateY(0) rotate(0deg);
		transition: transform .5s, width .5s;
	}
	.main-nav #toggler span:last-child {
		margin-bottom: 0;
	}
	.main-nav #toggler.open span:first-child {
		transform: translateY(7px) rotate(45deg);
	}
	.main-nav #toggler.open span:nth-child(2) {
		width: 0;
	}
	.main-nav #toggler.open span:last-child {
		transform: translateY(-7px) rotate(-45deg);
	}
	.main-nav ul li {
		display: block;
		text-align: left;
		padding: 10px;
	}
	.main-nav ul li a {
		display: block;
		padding: 0px;
		color: #fff;
		text-align: left;
		font-size: 1.4rem;
	}
	.main-nav li a.has-dd {
		padding: 10px;
		color:#fff;
		text-decoration: underline;
		font-size: 1.8rem;
	} 

	
	
}


@media (max-width:440px) {
	.foot-er .right-foot a {
		padding-right: 12px;
		font-size: 13px;
	}
}
@media (max-width:375px) {
	
	.foot-er .right-foot a {
		display: block;
		text-align: center;
	}
	.content {
	padding-left:0px;
	padding-bottom: 0px;
	flex-basis:none;
	}
	
	.right-foot, .left-foot {
		padding: 0px;
	}
	.contain {
	padding: 0 10px;
	}

	
}



@media (max-width: 768px) {
	.foot-er {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width:375px) {
	.foot-er {
		height: 310px;
	}
}


@media (max-width:768px) {
	.content, .main-nav {
		flex-basis: 50%;
	}
	.content {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media (max-width:768px) {
	.content h1 {
		margin: 0px;
	}

}



